---
Checks: >
  -*, 
  bugprone-*, 
  clang-analyzer-*, 
  concurrency-*, 
  cppcoreguidelines-*, 
  google-*, 
  hicpp-*, 
  modernize-*, 
  performance-*, 
  portability-*, 
  readability-*,
  -google-runtime-references,
  -google-readability-namespace-comments,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -readability-magic-numbers,
  # readability-identifier-naming,  # Enforce project naming conventions
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -hicpp-signed-bitwise,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -modernize-pass-by-value

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: 'PascalCase'
  - key: readability-identifier-naming.StructCase
    value: 'PascalCase'
  - key: readability-identifier-naming.EnumCase
    value: 'PascalCase'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'PascalCase'
  - key: readability-identifier-naming.FunctionCase
    value: 'camelCase'
  - key: readability-identifier-naming.MethodCase
    value: 'camelCase'
  - key: readability-identifier-naming.VariableCase
    value: 'camelCase'
  - key: readability-identifier-naming.PrivateMemberCase
    value: 'camelCase'
  - key: readability-identifier-naming.MemberCase
    value: 'camelCase'
  - key: readability-identifier-naming.StaticConstVariableCase
    value: 'UPPER_SNAKE_CASE'
  - key: readability-identifier-naming.ConstexprVariableCase
    value: 'UPPER_SNAKE_CASE'
  - key: readability-identifier-naming.GlobalConstantCase
    value: 'UPPER_SNAKE_CASE'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_SNAKE_CASE'
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: 'PascalCase'
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: 'PascalCase'
  - key: readability-identifier-naming.NamespaceCase
    value: 'PascalCase'
  - key: readability-function-cognitive-complexity.Threshold
    value: '25'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;4;5;6;7;8;9;10;16;32;64;128;256;512;1024;1920;1080;2048;4096'
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: 'true'
  - key: readability-function-size.Threshold
    value: '100'
  - key: readability-function-size.LineThreshold
    value: '80'
...